
body
{
    direction:rtl;
}
.table-responsive > div.container
{
    max-width:700px;
}
.main-panel
{
overflow:visible !important;

}

.red-button-remove-user
{
    margin-top:27px;
}
.red-button-remove
{
    margin-top: -45px;
    margin-left: 20px;
}
.sidebar-wrapper ul.nav
{

    padding-right:0px ;
}
.dis-button
{
color : #B0ABB4;
}
#main_php_div .btn-danger
{
    width: 10%;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
#main_php_div .remove_selected_guides,body .red-button-remove-user
{
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.selected-guide
{
    background-color: rgba(0,0,0,0.1);
    background-clip: content-box;
    box-sizing: border-box;
    margin-top:10px;
    height:100px;
    
}
.edit-gudie-btn
{

    height: 27px;
    line-height: 0px;
    padding-left: 5px !important;
    padding-right: 5px !important;;
}

.selected-guide button
{
background-color:#2980b9;
margin-left:1px;
color :#fff;
}
