@font-face {
    font-family: openlight;
    src: url('style/openlight.ttf');
}

@font-face {
    font-family: open;
    src: url('style/open.ttf');
}

.add_another_step {
    padding-bottom: 20px;
}

.add_guide_videos_array, .add_another_textarea, .add_another_step {
    border: 1px solid blue;
    padding: 30px;
    border-radius: 5px;
}
#navbar a
{
    text-align:right;
}
.selected-guide p
{
    margin-bottom:0px;
}

/*.card .content
{

    padding-bottom:200px !important;
}*/
p
{
    direction:rtl;
}

div.an-add
{
    /*width:300px;*/
    margin:0 auto;
    float:none;
}
#adds
{
    height:1000px;
    background-color:gray;
}
.add-new-step-between
{
    display:inline-block;
    width:100%;
}

.add-new-step-between button
{
    background-color: transparent;
    border: none;
    color: limegreen;
}
.add-new-step-between button:hover
{
    font-weight:bold;
    color:blue;
}

@-webkit-keyframes flash {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}

.flash {
    -webkit-animation-name: demo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in-out;
} 

#pop_up_ad
{
  position: fixed;
    top: 0px;
    width: 300px;
    height: 600px;
   /* background-color: gray;*/
    z-index: 1031;
    display: none;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
}
#close_pop
{
    display:none;
    background-image: url(../images/web/x.png);
    right: 0px;
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    float:right;
    cursor: pointer;
}
#pop_cont
{
    height:100%;
}
@media only screen and (min-device-width : 768px)
{
    #close_pop
    {
        display:none;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 30px;
        float:right;
        
    }

}

.list-of-guides .guide-block
{
    
    float:right;
}
#main-index-page h1
{
   font-family: 'Suez One', serif;
   font-size:50px;
   padding:50px;
}
.top-big-ad
{
    margin-top:72px;
}